/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* ---------------utilities -------------------*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container {
  background: #ffffff;
  width: 870px;
  padding: 30px;
  margin-bottom: 21px;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
}

/* header section */

header {
  background: #562eff;
  height: 110px;
  margin-bottom: 36px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  margin-top: 15px;
  margin-left: 36px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
}

.right-side {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 41px;
  height: 51px;
  margin: 10px;
}

/* ------------------top-players style------------ */

.top-players {
  margin-bottom: 30px;
}

.top-players .section-title {
  font-size: 24px;
  color: #562eff;
  margin: 3px 0px 40px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 100px;
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  width: 56px;
  height: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* ---------------top blog styles---------------- */
.top-blog .section-title {
  font-size: 24px;
  color: #562eff;
  margin: 30px 0px 30px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
  grid-column-gap: 50px;
}
.blog {
  display: flex;
  align-items: center;
}

.blog img {
  width: 177px;
  height: 117px;
}

.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0px;
}

.blog-author {
  font-size: 16px;
  color: #9f9f9f;
  margin-top: 6px;
}

.blog-author a {
  text-decoration: none;
  color: #562eff;
  font-size: 16px;
}

/* course section  */
.latest {
  padding-top: 0%;
}
/* .latest-course{
  
} */
.latest-course .section-title {
  font-size: 24px;
  color: #562eff;
  margin: 24px 0px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.course {
  width: 253px;
  height: 270px;
  border-radius: 5px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
  padding: 15px;
  padding-right: 0px;
  margin-right: 20px;
}

.course-banner img {
  width: 224px;
  height: 104px;
}
.course-author {
  color: #ed6b4f;
}
.course-info {
  display: flex;
  justify-content: space-between;
}

.course-info .fa-star {
  color: #ffc014;
  font-size: 14px;
}
.course-info .filled {
  color: #aeaeae;
}

.rating {
  margin-left: 8px;
}
.common-color {
  margin-right: 10px;
  border-radius: 14.6913px;
  padding: 0px 5px;
  background: #ffe4e8;
  color: #ff4a60;
}
#bg-color-special {
  background: #fee5df;
  color: #ed6b4f;
}
